<!DOCTYPE html>
<head>
    <title>Form</title>
</head>
<body>
        <p>Name: <%=newPerson.name%></p>
        <p>Surname: <%=newPerson.surname%></p>
        <p>Phone number: <%=newPerson.phone%></p>
</body>
</html>